<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link href="{{ url_for('static', filename='select2.css') }}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='select2.min.js') }}"></script>
	<title>Добавление ресурса</title>
</head>
<body>
	<header>
		<div class="title">IMAS / Добавление ресурса</div>
	</header>
	<div class="content">
		<div class="left-div">
			<form action="" method="post">

				{{ form.csrf_token() }}

				<div class="group">
					<label>
						<img src="{{ url_for('static', filename='link.png') }}" height="15"> 
						&#160;Ссылка на ресурс
					</label><br>

					<div id="divLinkErr" style="display: none;">
				        <label class="error-label" id=labelLinkErr>
				        	
				        </label><br>
				    </div>

					{{ form.link }}
				</div>

				<div class="group">
					<label>
						Название ресурса
					</label><br>

					<div id="divResourceNameErr" style="display: none;">
				        <label class="error-label" id=labelResourceNameErr>
				        	
				        </label><br>
				    </div>

					{{ form.resource_name }}
				</div>

				<div class="group">
					<label>
						Категория
					</label><br>

					<div id="divCategoryErr" style="display: none;">
				        <label class="error-label" id=labelCategoryErr>
				        	
				        </label><br>
				    </div>

					{{ form.category }}
				</div>

				<div class="group">
					<label>
						Страна
					</label><br>
					

					<div id="divCountryErr" style="display: none;">
				        <label class="error-label" id=labelCountryErr>
				        	
				        </label><br>
				    </div>

			        <div style="margin-bottom: 10px;"></div>
					{{ form.country }}
					<div style="margin-bottom: 15px;"></div>
				</div>

				<div style="display: none;" id="regionCityVisible">
					<div class="group">
						<label>
							Укажите регион
						</label><br>

						<div id="divRegionErr" style="display: none;">
					        <label class="error-label" id=labelRegionErr>
					        	
					        </label><br>
					    </div>

						{{ form.region }}
					</div>

					<div class="group">
						<label>
							Укажите город
						</label><br>

						<div id="divCityErr" style="display: none;">
					        <label class="error-label" id=labelCityErr>
					        	
					        </label><br>
					    </div>

						{{ form.city }}
					</div>
				</div>

				<div class="group">
					<input type="button" class="reset-button" value="Сбросить" onclick="window.location = '/add_resource';">
					<input type="button" class="add-button" value="Добавить" onclick="validate();">
				</div>
			</form>
		</div>
		<div class="right-div">
			<iframe srcdoc="{{ frame }}" id="frame"></iframe>
		</div>
	</div>
</body>

<script type="text/javascript">
	var country_obj = $('.js-select2');
	var load_frame_text = "<div align=\"center\" style=\"margin-top: 30%;\"> <h1>Загрузка...</h1> </div>"

	$(document).ready(function() {
		country_obj.select2({
			placeholder: "Укажите страну...",
			maximumSelectionLength: 2,
			language: "ru"
		});
	});

	country_obj.on("change", function(e) {
		var country = document.querySelector('span[aria-labelledby="select2-country-container"]');
		var country_ = document.getElementById("select2-country-container");

		country.setAttribute('style', '');
		$("#divCountryErr").attr('style', 'display: none;');

		if (country_obj.val() == 57) {
			document.getElementById("regionCityVisible").setAttribute('style', '');
		}
		else {
			document.getElementById("regionCityVisible").setAttribute('style', 'display: none;');
		}
	});

	window.onload = function() {
		var csrftoken = $('#csrf_token').val();
		var link = document.getElementById('link');
		var res_name = document.getElementById('resource_name');
		var category = document.getElementById('category');
		var region = document.getElementById('region');
		var city = document.getElementById('city');
		var p = window.location.search;

		$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
		        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
		            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		        }
		    }
		});

	    p = p.match(new RegExp('link' + '=([^&=]+)'));

	    try {
	    	if (p[1]){
		    	var el = p[1];
		    	link.value = el;
		    
		    }
	    }
	    catch (err){}
	    
	    if (region){
	    	region.addEventListener("change", changeRegion);
	    }

    	link.oninput = function() {
    		$("#category").val("-1");
			$('#country').val(null).trigger('change');
			$('#link').attr('style', '');
    		$('#divLinkErr').attr('style', 'display: none;');
			load_page();
		};

		res_name.oninput = function() {
			res_name.setAttribute('style', '');
			$("#divResourceNameErr").attr('style', 'display: none;');
		}

		category.oninput = function() {
			category.setAttribute('style', '');
			$("#divCategoryErr").attr('style', 'display: none;');
		};

		region.oninput = function() {
			region.setAttribute('style', '');
			$("#divRegionErr").attr('style', 'display: none;');
		};

		city.oninput = function() {
			city.setAttribute('style', '');
			$("#divCityErr").attr('style', 'display: none;');
		};

		if (country_obj.val() == 57) {
			document.getElementById("regionCityVisible").setAttribute('style', '');
		}

		setTimeout(() => { 
			var el = document.querySelector('span[dir="ltr"]');
			el.setAttribute('style', 'width: 100%;');
		}, 400);

		if (region.options.selectedIndex != "-1") changeRegion();
		load_page();
	}

	function load_page() {
        var link = $("#link").val();

    	$("#frame").attr('srcdoc', load_frame_text);
    	document.getElementById("link").setAttribute('readonly', 'true');
    	document.getElementById("resource_name").setAttribute('readonly', 'true');

    	str = {'link': link, 'page': 'add_resource'};
    	
        $.post("/load_page", str, function(data) {
        	var errType = data.err_type;
            var errText = data.err_text;
            var _list = data._list;

        	if (errType == 0) {
            	alert(errText);
            	$('#link').val('');
            	load_page();
            }

            if (errType == 1) {
            	alert(errText);
            	$('#link').val('');
            	load_page();
            }

            if (errType == 2) {
            	for (i in _list) {
            		$('#resources').append('<option value="' + _list[i][0] +
            			'">' + _list[i][1] + '</option>');
            	}

            	$('#resources option[value=-1]').prop('selected', true);
            	$('#correctResource').attr('style', '');
            }

            if (errType == 3) {
            	$('#divErr').attr('style', '');
            	$('#labelErr').text(errText);
            	$('#addResourceLink').attr('style', '');
            	new_link = _list[0];
            }

            if (errType == 5) {
	        	$('#link').val('');
            	load_page();
	        }

            $("#frame").attr('srcdoc', data.res)
            $("#resource_name").val(data.title);
    		document.getElementById("link").removeAttribute('readonly');
    		document.getElementById("resource_name").removeAttribute('readonly');
        });
	}

	function validate() {
    	var countErrors = 0;
    	var link = $('#link').val();
    	var resource_name = $('#resource_name').val();
    	var category = $('#category').val();
    	var country = country_obj.val();
    	var region = $('#region').val();
    	var city = $('#city').val();

    	if (link.replace(/\s+/g, '') == "") {
    		$('#link').val('');
    		$('#link').attr('style', 'border-color: red;');
    		$('#divLinkErr').attr('style', '');
    		$('#labelLinkErr').text("[ ! ] Введите ссылку");
    		countErrors += 1;
    	}

    	if (resource_name.replace(/\s+/g, '') == "") {
    		$('#resource_name').val('');
    		$('#resource_name').attr('style', 'border-color: red;');
    		$('#divResourceNameErr').attr('style', '');
    		$('#labelResourceNameErr').text("[ ! ] Введите название ресурса");
    		countErrors += 1;
    	}

    	if (category == "-1") {
    		$('#category').attr('style', 'border-color: red;');
    		$('#divCategoryErr').attr('style', '');
    		$('#labelCategoryErr').text("[ ! ] Выберите категорию");
    		countErrors += 1;
    	}

    	if (country == "0" || country == null) {
    		var el = document.querySelector('span[aria-labelledby="select2-country-container"]');
    		el.setAttribute('style', 'border-color: red;');
    		$('#divCountryErr').attr('style', '');
    		$('#labelCountryErr').text("[ ! ] Выберите страну");
    		countErrors += 1;
    	}

    	if (region == "-1" && $('#regionCityVisible').attr('style') == '') {
    		$('#region').attr('style', 'border-color: red;');
    		$('#divRegionErr').attr('style', '');
    		$('#labelRegionErr').text("[ ! ] Выберите регион");
    		countErrors += 1;
    	}

    	if (city == "-1" && $('#regionCityVisible').attr('style') == '') {
    		$('#city').attr('style', 'border-color: red;');
    		$('#divCityErr').attr('style', '');
    		$('#labelCityErr').text("[ ! ] Выберите город");
    		countErrors += 1;
    	}

    	if (countErrors == 0) {
    		var str = {'link': link,
    				   'resource_name': resource_name, 
    			       'category': category,
    			       'country': country,
    			       'region': region,
    			   	   'city': city};
    	    
    		$.post("/add_resource_validate", str,
            function(data) {
            	var errType = data.errType;
            	var errText = data.errText;
                var result = data.result;

                if (errType == 5) {
		        	$('#link').attr('style', 'border-color: red;');
    				$('#divLinkErr').attr('style', '');
    				$('#labelLinkErr').text("[ ! ] " + errText);
		        }

		        if (result == true){
		        	alert('Ресурс успешно добавлен');
		        	window.close();
		        }
            });
    	}
    }

	function changeRegion() {
		var region = document.getElementById('region');
		var i = region.options.selectedIndex;
		var region_selected = region.options[i].value;
		var city_select = document.getElementById('city');
		var options = city_select.querySelectorAll('option');
		for (var i=0; i<options.length; i++) {
			val = options[i].value;
			if (val.indexOf('!') != '-1'){
				city_reg = val.substr(val.indexOf('!')+1);
				if (city_reg != region_selected) {
					options[i].style.display = "none";
				}
				else {
					options[i].style.display = "";
				}
			}
		}
	}    
</script>
 
</html>