<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<title>Добавление новости</title>
</head>
<body>
	<header>
		<div class="title">IMAS / Добавление новости</div>
	</header>
	<div class="content">
		<div class="left-div">
			<form action="" method="post">

				{{ form.csrf_token() }}
				
				<div class="group">
					<label>
						<img src="{{ url_for('static', filename='link.png') }}" height="15">
						&#160;Ссылка на новость
					</label><br>

					<div id="divLinkErr" style="display: none;">
				        <label class="error-label" id=labelLinkErr>
				        	
				        </label><br>
				    </div>

					{{ form.link }}
				</div>

				<div class="group" id="correctResource" style="display: none;">
					<label>
						Уточните ресурс
					</label>

					<div id="divResourcesErr" style="display: none;">
				        <label class="error-label" id=labelResourcesErr>
				        	
				        </label><br>
				    </div>

					{{ form.resources }}<br>
				</div>

				<div class="group">
					<label>
						Заголовок новости
					</label><br>

					<div id="divTitleErr" style="display: none;">
				        <label class="error-label" id="labelTitleErr">
				        	
				        </label><br>
				    </div>

					{{ form.title }}<br>
				</div>
				
				<div class="group">
					<label>
						<a href="#openModal" onclick="open_modal();">
							<img src="{{ url_for('static', filename='edit.png') }}" height="15"></a>
						&#160;Контент
					</label><br>

					<div class="info">
						<label class="info-label">
							<img src="{{ url_for('static', filename='info.png') }}" height="13">
							&#160;Нажмите на значок карандашика, чтобы расширить окно редактирования
						</label>
					</div>

					<div id="divContentErr" style="display: none;">
				        <label class="error-label" id=labelContentErr>
				        	
				        </label><br>
				    </div>

					{{ form.content }}<br>
				</div>
				
				<div class="group">
					<label>
						<img src="{{ url_for('static', filename='date.png') }}" height="15">
						&#160;Дата публикации
					</label><br>

					<div id="divNdateErr" style="display: none;">
				        <label class="error-label" id=labelNdateErr>
				        	
				        </label><br>
				    </div>

					{{ form.n_date }}
				</div>

			    <div id="divErr" class="form_helper" align="center" style="display:none;">
			        <label id="labelErr" class="error-label">
			        	
			    	</label><br>

				    <a id="addResourceLink" href="#" onclick="addResourceWindow(); return false;" target="_blank">
				    	Добавить ресурс
				    </a>
				    
			    </div>

				<div class="group">
					<input type="button" class="reset-button" value="Сбросить" onclick="window.location = '/';">
					<input type="button" class="add-button" value="Добавить" onclick="validate();">
				</div>
			</form>
		</div>
		<div class="right-div">
			<iframe srcdoc="{{ frame }}" id="frame"></iframe>
		</div>
	</div>

	<div id="openModal" class="modalDialog">
		<div>
			<a href="#close" title="Закрыть" class="close" onclick="close_modal();">X</a>
			<textarea rows="30" id="big_content"></textarea>
		</div>
	</div>
	
</body>

<script type="text/javascript">
	var new_link;
	var load_frame_text = "<div align=\"center\" style=\"margin-top: 30%;\"> <h1>Загрузка...</h1> </div>"

	window.onload = function() {
    	var csrftoken = $('#csrf_token').val();
    	var link = document.getElementById("link");
    	var title = document.getElementById("title");
    	var content = document.getElementById("content");
    	var n_date = document.getElementById("n_date");
    	var resources = document.getElementById("resources");

    	$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
		        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
		            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		        }
		    }
		});

    	link.oninput = function() {
    		$('#link').attr('style', '');
    		$('#divLinkErr').attr('style', 'display: none;');

    		$("#title").val('');
    		$("#content").val('');
			$("#n_date").val('');

			$('#title').attr('style', '');
    		$('#divTitleErr').attr('style', 'display: none;');

    		$('#content').attr('style', '');
    		$('#divContentErr').attr('style', 'display: none;');

    		$('#n_date').attr('style', '');
			$("#divNdateErr").attr('style', 'display: none;');

			$('#correctResource').attr('style', 'display: none;');
			$('#resources').find('option').remove();

			$('#divErr').attr('style', 'display: none;');
			load_page();
		};

		title.oninput = function() {
			$('#title').attr('style', '');
    		$('#divTitleErr').attr('style', 'display: none;');
		}

		content.oninput = function() {
			$('#content').attr('style', '');
    		$('#divContentErr').attr('style', 'display: none;');
		}

		n_date.oninput = function() {
			$('#n_date').attr('style', '');
			$("#divNdateErr").attr('style', 'display: none;');
		};

		resources.oninput = function() {
			$('#resources').attr('style', '');
		    $('#divResourcesErr').attr('style', 'display: none;');
		};

		load_page();
    }

	function load_page() {
        var link = $("#link").val();
    	document.getElementById("link").setAttribute('readonly', 'true');
    	document.getElementById("title").setAttribute('readonly', 'true');
    	$("#frame").attr('srcdoc', load_frame_text);
    	str = {'link': link, 'page': 'index'};

        $.post("/load_page", str, function(data) {
        	var errType = data.err_type;
            var errText = data.err_text;
            var _list = data._list;

        	if (errType == 0) {
            	alert(errText);
            	$('#link').val('');
            	load_page();
            }

            if (errType == 1) {
            	alert(errText);
				$('#link').val('');
            	load_page();
            }

            if (errType == 2) {
            	for (i in _list) {
            		$('#resources').append('<option value="' + _list[i][0] +
            			'">' + _list[i][1] + '</option>');
            	}

            	$('#resources option[value=-1]').prop('selected', true);
            	$('#correctResource').attr('style', '');
            }

            if (errType == 3) {
            	$('#divErr').attr('style', '');
            	$('#labelErr').text(errText);
            	$('#addResourceLink').attr('style', '');
            	new_link = _list[0];
            }

            if (errType == 5) {
	        	$('#link').attr('style', 'border-color: red;');
				$('#divLinkErr').attr('style', '');
				$('#labelLinkErr').text("[ ! ] " + errText);
	        }

            $("#frame").attr('srcdoc', data.res);
    		document.getElementById("link").removeAttribute('readonly');
    		document.getElementById("title").removeAttribute('readonly');
        });
    }    

    function validate() {
    	var countErrors = 0;
    	var link = $('#link').val();
    	var res_id = $('#resources').val();
    	var title = $('#title').val();
    	var content = $('#content').val();
    	var n_date = $('#n_date').val();

    	if (link.replace(/\s+/g, '') == "") {
    		$('#link').val('');
    		$('#link').attr('style', 'border-color: red;');
    		$('#divLinkErr').attr('style', '');
    		$('#labelLinkErr').text("[ ! ] Введите ссылку");
    		countErrors += 1;
    	}

    	if (res_id == "-1" && $('#correctResource').attr('style') == '') {
    		$('#resources').attr('style', 'border-color: red;');
	    	$('#divResourcesErr').attr('style', '');
	    	$('#labelResourcesErr').text("[ ! ] Уточните ресурс");
    		countErrors += 1;
    	}

    	if (title.replace(/\s+/g, '') == "") {
    		$('#title').val('');
    		$('#title').attr('style', 'border-color: red;');
    		$('#divTitleErr').attr('style', '');
    		$('#labelTitleErr').text("[ ! ] Введите заголовок");
    		countErrors += 1;
    	}

    	if (content.replace(/\s+/g, '') == "") {
    		$('#content').val('');
    		$('#content').attr('style', 'border-color: red;');
    		$('#divContentErr').attr('style', '');
    		$('#labelContentErr').text("[ ! ] Введите контент");
    		countErrors += 1;
    	}

    	if (n_date == "") {
    		$('#n_date').attr('style', 'border-color: red;');
    		$('#divNdateErr').attr('style', '');
    		$('#labelNdateErr').text("[ ! ] Укажите дату");
    		countErrors += 1;
    	}

    	if (countErrors == 0) {
    		if (res_id == null) res_id = -1;
    		var str = {'link': link,
    				   'resid': res_id, 
    			       'title': title,
    			       'content': content,
    			       'n_date': n_date};
    	    
    		$.post("/add_news_validate", str,
            function(data) {
                var errType = data.err_type;
                var errText = data.err_text;
                var result = data.result;

                if (errType == 3) {
                	alert('Сначала добавьте ресурс в базу');
		        }

                if (errType == 4) {
                	$('#n_date').attr('style', 'border-color: red;');
		    		$('#divNdateErr').attr('style', '');
		    		$('#labelNdateErr').text("[ ! ] " + errText);
		        }

		        if (errType == 5) {
		        	$('#link').val('');
            		load_page();
		        }

		        if (result == true){
		        	alert('Новость успешно добавлена');
		        	window.location = '/';
		        }
            });
    	} 
    }

    function open_modal() {
		var content = document.getElementById("content");
		var big_content = document.getElementById("big_content");

		big_content.value = content.value;
	}

	function close_modal() {
		var content = document.getElementById("content");
		var big_content = document.getElementById("big_content");

		content.value = big_content.value;
	}

    function addResourceWindow() {
		var new_window = window.open("/add_resource?link=" + new_link);
	}
</script>

</html>